In [37]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import os

In [51]:
url = "https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/literacy_api.csv"
df = pd.read_csv(url)
print(df.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS   NaN
1  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS   NaN
2  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS   NaN
3  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS   NaN
4  Literacy rate, adult female (% of females ages...  SE.ADT.LITR.FE.ZS   NaN

   1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...  64.124428  65.011276  65.215439
2   NaN   NaN   NaN   NaN   NaN  ...  17.086241        NaN        NaN
3   NaN   NaN   NaN   NaN   NaN  ...  45.681660  46.360519  47.375671
4   NaN   NaN   NaN   NaN   NaN  ...  51.925980        NaN        NaN

        2018       2019       2020       2021       2022       2023  \
0        NaN        NaN  98.000000        NaN        NaN        NaN
1  65.872192  67.269447  67.552330  67.457108  67.977257  68.425713
2        NaN        NaN        NaN  23.000000  26.596560        NaN
3  51.047100  51.050529  51.290138  51.630718  51.954781  52.201920
4        NaN        NaN        NaN        NaN  62.500000        NaN

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]

In [52]:
melted_df = pd.melt(df, id_vars=['Country Name', 'Country Code'], var_name='Date', value_name='Rates')

                  Country Name Country Code            Date  \
0                        Aruba          ABW  Indicator Name
1  Africa Eastern and Southern          AFE  Indicator Name
2                  Afghanistan          AFG  Indicator Name
3   Africa Western and Central          AFW  Indicator Name
4                       Angola          AGO  Indicator Name

                                               Rates
0  Literacy rate, adult female (% of females ages...
1  Literacy rate, adult female (% of females ages...
2  Literacy rate, adult female (% of females ages...
3  Literacy rate, adult female (% of females ages...
4  Literacy rate, adult female (% of females ages...

In [ ]:
results = [country, code, date, lit_rate]

In [55]:
import pandas as pd

# URLs to the raw data files
url1 = 'https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/api_total_adult_rates.csv'
url2 = 'https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/cleaned_literacy_data.csv'

# Load the datasets, skipping the first 4 rows of the first dataset
data1 = pd.read_csv(url1, skiprows=4)
data2 = pd.read_csv(url2)

# Display column names to identify potential common columns for merging
print("Columns in data1:", data1.columns)
print("Columns in data2:", data2.columns)

# After identifying the appropriate columns, rename them to 'gender'
# Replace 'OriginalColumnName1' and 'OriginalColumnName2' with the actual column names you want to merge on
data1 = data1.rename(columns={'OriginalColumnName1': 'gender'})
data2 = data2.rename(columns={'OriginalColumnName2': 'gender'})

# Merge datasets on the 'gender' column
merged_data = pd.merge(data1, data2, on='gender', how='inner')

# Display the first few rows of the combined data
print(merged_data.head())

Columns in data1: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')
Columns in data2: Index(['country', 'code', 'dates', 'rate'], dtype='object')

KeyError: 'gender'

In [57]:
import pandas as pd

# URL or file path to the CSV file
url = 'https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/api_total_adult_rates.csv'

# Load the CSV file, skipping the first 4 rows
data = pd.read_csv(url, skiprows=4)

# Display the first few rows of the cleaned data to confirm the first 4 rows have been removed
print(data.head())

melted_df = pd.melt(df, id_vars=['Country Name', 'Country Code'], var_name='Date', value_name='Rates')

print(melted_df.head())

                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name  Indicator Code  1960  \
0  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
1  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
2  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
3  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
4  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN

   1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...  70.447090  71.105171  71.029984
2   NaN   NaN   NaN   NaN   NaN  ...  33.753841        NaN        NaN
3   NaN   NaN   NaN   NaN   NaN  ...  55.006618  55.465778  56.472198
4   NaN   NaN   NaN   NaN   NaN  ...  66.235863        NaN        NaN

        2018       2019       2020       2021       2022       2023  \
0        NaN        NaN  97.989998        NaN        NaN        NaN
1  71.495399  72.658661  72.855759  72.638908  72.981560  73.275108
2        NaN        NaN        NaN  37.000000        NaN        NaN
3  59.747349  59.553669  59.703239  60.007320  60.290852  60.505550
4        NaN        NaN        NaN        NaN  72.400002        NaN

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]
                  Country Name Country Code            Date  \
0                        Aruba          ABW  Indicator Name
1  Africa Eastern and Southern          AFE  Indicator Name
2                  Afghanistan          AFG  Indicator Name
3   Africa Western and Central          AFW  Indicator Name
4                       Angola          AGO  Indicator Name

                                               Rates
0  Literacy rate, adult female (% of females ages...
1  Literacy rate, adult female (% of females ages...
2  Literacy rate, adult female (% of females ages...
3  Literacy rate, adult female (% of females ages...
4  Literacy rate, adult female (% of females ages...

In [59]:
import pandas as pd

# URL to the CSV file
url = 'https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/api_total_adult_rates.csv'

# Load the CSV file, skipping the first 4 rows
data = pd.read_csv(url, skiprows=4)

# Display the first few rows of the cleaned data to confirm the first 4 rows have been removed
print("Original Data:")
print(data.head())

# Melt the dataframe to reshape it
melted_df = pd.melt(data, id_vars=['Country Name', 'Country Code'], var_name='Date', value_name='Rates')

# Display the first few rows of the melted data
print("Melted Data:")
print(melted_df.head())

# Save the melted dataframe to a CSV file
melted_df.to_csv('cleaned_total_lit.csv', index=False)
print("The file has been saved as 'cleaned_total_lit.csv'")

Original Data:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name  Indicator Code  1960  \
0  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
1  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
2  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
3  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
4  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN

   1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...  70.447090  71.105171  71.029984
2   NaN   NaN   NaN   NaN   NaN  ...  33.753841        NaN        NaN
3   NaN   NaN   NaN   NaN   NaN  ...  55.006618  55.465778  56.472198
4   NaN   NaN   NaN   NaN   NaN  ...  66.235863        NaN        NaN

        2018       2019       2020       2021       2022       2023  \
0        NaN        NaN  97.989998        NaN        NaN        NaN
1  71.495399  72.658661  72.855759  72.638908  72.981560  73.275108
2        NaN        NaN        NaN  37.000000        NaN        NaN
3  59.747349  59.553669  59.703239  60.007320  60.290852  60.505550
4        NaN        NaN        NaN        NaN  72.400002        NaN

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]
Melted Data:
                  Country Name Country Code            Date  \
0                        Aruba          ABW  Indicator Name
1  Africa Eastern and Southern          AFE  Indicator Name
2                  Afghanistan          AFG  Indicator Name
3   Africa Western and Central          AFW  Indicator Name
4                       Angola          AGO  Indicator Name

                                               Rates
0  Literacy rate, adult total (% of people ages 1...
1  Literacy rate, adult total (% of people ages 1...
2  Literacy rate, adult total (% of people ages 1...
3  Literacy rate, adult total (% of people ages 1...
4  Literacy rate, adult total (% of people ages 1...
The file has been saved as 'cleaned_total_lit.csv'