In [2]:
import pandas as pd

In [19]:
url = "https://raw.githubusercontent.com/miswilson/miswilson.github.io/refs/heads/main/silhouettes_lis.csv"
df = pd.read_csv(url)

print("Initial Data Info:")
print(df.info())
print("\nInitial Data Preview:")
print(df.head())

Initial Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658 entries, 0 to 657
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Term          658 non-null    object
 1   Start Date    658 non-null    object
 2   End Date      658 non-null    object
 3   Result Count  521 non-null    float64
dtypes: float64(1), object(3)
memory usage: 20.7+ KB
None

Initial Data Preview:
     Term  Start Date    End Date  Result Count
0  fitted  1900-01-01  1901-01-01         215.0
1  fitted  1901-01-01  1902-01-01         320.0
2  fitted  1902-01-01  1903-01-01         338.0
3  fitted  1903-01-01  1904-01-01         363.0
4  fitted  1904-01-01  1905-01-01         392.0

In [21]:
# - Remove rows where all values are NaN
clean_t = df.dropna(how="all")
print(clean_t)

       Term  Start Date    End Date  Result Count
0    fitted  1900-01-01  1901-01-01         215.0
1    fitted  1901-01-01  1902-01-01         320.0
2    fitted  1902-01-01  1903-01-01         338.0
3    fitted  1903-01-01  1904-01-01         363.0
4    fitted  1904-01-01  1905-01-01         392.0
..      ...         ...         ...           ...
653    long  2018-01-01  2019-01-01         228.0
654    long  2019-01-01  2020-01-01         266.0
655    long  2020-01-01  2021-01-01         174.0
656    long  2021-01-01  2022-01-01         145.0
657    long  2022-01-01  2023-01-01           0.0

[658 rows x 4 columns]

In [22]:
if 'Term' in clean_t.columns:
    clean_t['Term'] = clean_t['Term'].str.strip().str.title()  # Capitalize the first letter of each term
    cleaner_t = clean_t.drop_duplicates()
    print(cleaner_t)

       Term  Start Date    End Date  Result Count
0    Fitted  1900-01-01  1901-01-01         215.0
1    Fitted  1901-01-01  1902-01-01         320.0
2    Fitted  1902-01-01  1903-01-01         338.0
3    Fitted  1903-01-01  1904-01-01         363.0
4    Fitted  1904-01-01  1905-01-01         392.0
..      ...         ...         ...           ...
619    Long  2018-01-01  2019-01-01         228.0
620    Long  2019-01-01  2020-01-01         266.0
621    Long  2020-01-01  2021-01-01         174.0
622    Long  2021-01-01  2022-01-01         145.0
623    Long  2022-01-01  2023-01-01           0.0

[595 rows x 4 columns]

In [23]:
if 'Result Count' in cleaner_t.columns:
    cleanest_t = cleaner_t[cleaner_t['Result Count'].notna()]  # Keep rows where 'Result Count' is not NaN
print(cleanest_t)

       Term  Start Date    End Date  Result Count
0    Fitted  1900-01-01  1901-01-01         215.0
1    Fitted  1901-01-01  1902-01-01         320.0
2    Fitted  1902-01-01  1903-01-01         338.0
3    Fitted  1903-01-01  1904-01-01         363.0
4    Fitted  1904-01-01  1905-01-01         392.0
..      ...         ...         ...           ...
619    Long  2018-01-01  2019-01-01         228.0
620    Long  2019-01-01  2020-01-01         266.0
621    Long  2020-01-01  2021-01-01         174.0
622    Long  2021-01-01  2022-01-01         145.0
623    Long  2022-01-01  2023-01-01           0.0

[465 rows x 4 columns]

In [24]:
cleanest_t.to_csv('cleaned_silhouettes_lis.csv', index=False)

In [25]:
print(cleanest_t)

       Term  Start Date    End Date  Result Count
0    Fitted  1900-01-01  1901-01-01         215.0
1    Fitted  1901-01-01  1902-01-01         320.0
2    Fitted  1902-01-01  1903-01-01         338.0
3    Fitted  1903-01-01  1904-01-01         363.0
4    Fitted  1904-01-01  1905-01-01         392.0
..      ...         ...         ...           ...
619    Long  2018-01-01  2019-01-01         228.0
620    Long  2019-01-01  2020-01-01         266.0
621    Long  2020-01-01  2021-01-01         174.0
622    Long  2021-01-01  2022-01-01         145.0
623    Long  2022-01-01  2023-01-01           0.0

[465 rows x 4 columns]